<!doctype html>
<html lang="en" ng-app="waitstaffCalc">
<head>
	<meta charset="UTF-8">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<title>Waitstaff Calculator</title>
</head>
<body>
	<form novalidate>
		<input type="number" name="mealprice" ng-model="input.mealPrice">
		<input type="number" name="taxrate" ng-model="input.taxRate">
		<input type="number" name="tippercentage" ng-model="input.tipPercentage">
		<input type="submit" text="Submit" id="submit"> 
	</form>
	<div>
		<input type="text" name="subtotal" ng-model="output.subtotal" readonly />
		<input type="text" name="tip" ng-model="output.tip" readonly />
		<input type="text" name="total" ng-model="output.total" readonly />
	</div>
</body>
</html>